body{
    border: 2px solid black;
    height: 820px;
    width: 95%;
    margin-left: 2.5%;
}
header{
    border: 2px solid black;
    height: 150px;
    width: 90%;
    margin-left: 4.5%;
    margin-top: 4.5%;
}
#div1{
    border: 2px solid black;
    height: 300px;
    width: 60%;
    margin-left: 4.5%;
    margin-top: 4.5%;
    display: inline;
    float: left;
}
#div2{
    border: 2px solid black;
    height: 300px;
    width: 25%;
    margin-left: 4.5%;
    margin-top: 4.5%;
    float: left;
    display: inline;
}
footer{
    border: 2px solid black;
    height: 130px;
    width: 90%;
    margin-left: 4.5%;
    margin-top: 4.5%;
    float: right;
    margin-right: 5%;
}